.del {
background:red;
color:#ffffff;
border:none;
padding: 5px 9px;
border-radius: 50%;
cursor: pointer;
float: right;
margin-right:30%;
}

.todo {

background: #f4f4f4;
padding-left: 25%;
padding-top: 10px;
padding-bottom: 10px;
border-bottom: 1px #ccc dotted;

}

.is-complete {
  text-decoration: line-through;
}
